<h1>Messages</h1>
<ul>
    {{#each message}}
        <li>{{text}}</li>
    {{/each}}
</ul>
<form action="/message" method="post">
<input type="text" name="messageText" id="content"/>
<button value="Enviar" type="submit">Enviar</button>
</form>