<h1>Messages</h1>
<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<form action="/message" method="post">
<input type="text" name="content" id="content"/>
<button value="Enviar" type="submit">Enviar</button>
</form>